#weights,
#buffet {
  width: 100vw;
  margin-bottom: -4px; }

#navBackground {
  margin-top: 180px; }

#whiteBg {
  position: absolute;
  width: 80vw;
  height: auto;
  background-color: white;
  margin: -160px auto 0px;
  left: 0;
  right: 0;
  border-radius: 26px;
  text-align: center;
  padding: 20px 0px; }
  @media only screen and (min-width: 500px) {
    #whiteBg {
      padding: 20px 0px 40px; } }
  #whiteBg p {
    padding: 0 20px;
    max-width: 445px;
    margin: auto; }

#loader-pie {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 60vw;
  height: 250px; }

#pieSection {
  margin: 70px auto; }
  #pieSection p {
    text-align: center; }
  #pieSection p {
    padding: 0 25vw; }
  #pieSection #outerRing,
  #pieSection #middleRing {
    opacity: 0;
    transition: opacity 2.5s; }

#review1,
#review2 {
  display: grid;
  margin-bottom: 20px;
  width: 100vw;
  grid-template-columns: 1fr 1fr; }
  #review1 p,
  #review2 p {
    padding: 0px 15px;
    max-width: 200px;
    background-color: white; }

#review1 img,
#review2 p {
  display: block;
  margin-left: auto; }

#review2 img {
  grid-column: 2; }

#review2 p {
  grid-column: 1;
  grid-row: 1; }

#reviewsSection {
  margin-bottom: 50px; }
  @media only screen and (min-width: 700px) {
    #reviewsSection {
      margin-bottom: 80px; } }
  #reviewsSection h1 {
    margin-bottom: 30px; }
    @media only screen and (min-width: 700px) {
      #reviewsSection h1 {
        margin-bottom: 50px; } }

#review1 img,
#review2 img {
  width: 50vw; }
  @media only screen and (min-width: 500px) {
    #review1 img,
    #review2 img {
      width: 250px; } }

footer button,
nav button {
  background-color: transparent;
  border: 1px black solid;
  color: black;
  border-radius: 26px;
  font-family: "Montserrat", sans-serif;
  width: 120px;
  padding: 15px 0;
  display: block;
  margin-left: auto; }

#aboutSection {
  margin-top: 200px; }
  #aboutSection p {
    padding: 15px 50px;
    max-width: 450px;
    display: block;
    margin: 20px auto; }
    @media only screen and (min-width: 500px) {
      #aboutSection p {
        margin: 40px auto; } }
  #aboutSection .contactBtn {
    display: block;
    margin: 0 auto 30px;
    padding: 15px 8px; }
    @media only screen and (min-width: 500px) {
      #aboutSection .contactBtn {
        font-size: 14pt; } }
  #aboutSection #profile {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #aboutSection #profile img {
      display: block;
      margin-left: auto; }
      @media only screen and (min-width: 500px) {
        #aboutSection #profile img {
          width: 250px; } }
    #aboutSection #profile p {
      padding: 25px;
      max-width: 200px;
      display: block;
      margin: auto auto auto 0; }

div[data-lns-mountpoint] {
  margin-top: 200px; }

body,
html {
  margin: 0 auto; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12pt;
  text-align: center; }
  @media only screen and (min-width: 500px) {
    h1 {
      font-size: 14pt; } }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 11pt; }
  @media only screen and (min-width: 500px) {
    h2 {
      font-size: 13pt; } }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt; }
  @media only screen and (min-width: 500px) {
    p {
      font-size: 12pt; } }

button {
  background-color: #009779;
  color: white;
  border: none;
  border-radius: 26px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }
  @media only screen and (min-width: 500px) {
    button {
      font-size: 12pt; } }

#index-header {
  transition: all 0.3s;
  background-color: white;
  width: 100%;
  height: 180px;
  position: fixed;
  z-index: 2;
  top: 0; }
  #index-header #burger {
    position: fixed;
    z-index: 3;
    top: 20px;
    right: 20px;
    padding: 10px 7px; }
    @media only screen and (min-width: 700px) {
      #index-header #burger {
        display: none; } }
    #index-header #burger div {
      background-color: black;
      width: 30px;
      height: 3px;
      margin: 5px 9px;
      border-radius: 26px; }
    #index-header #burger #arrow div {
      position: absolute;
      left: -6px;
      right: 0;
      margin: auto;
      width: 10px;
      transform: rotate(45deg); }
    #index-header #burger #arrow div:nth-child(2) {
      transform: rotate(-45deg);
      left: 6px; }
  #index-header #logo,
  #index-header #slogan {
    display: block;
    transition: all 0.3s;
    grid-row: 1;
    width: 130px;
    margin: 30px auto 0; }
    @media only screen and (min-width: 700px) {
      #index-header #logo,
      #index-header #slogan {
        margin: 15px auto auto 40px; } }
  #index-header #slogan {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 10pt;
    grid-row: 2;
    margin-top: 0;
    text-align: center; }

nav {
  position: fixed;
  z-index: 3;
  top: 0;
  border-radius: 0px 0px 26px 26px;
  border-bottom: 1px solid black;
  background-color: white;
  width: 100vw;
  height: 300px;
  top: -301px;
  transition: all 0.3s; }
  @media only screen and (min-width: 700px) {
    nav {
      top: 0px;
      right: 0px;
      height: 150px;
      width: 70vw;
      background-color: transparent;
      border: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; } }
  nav button {
    margin: 50px auto 0px;
    color: black; }
    @media only screen and (min-width: 700px) {
      nav button {
        margin: auto; } }
  nav button:not(:first-child) {
    margin: 20px auto 0px;
    border: none;
    background-color: #009779;
    color: white; }
    @media only screen and (min-width: 700px) {
      nav button:not(:first-child) {
        margin: auto; } }
  nav #closeMenu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 25px; }
    @media only screen and (min-width: 700px) {
      nav #closeMenu {
        display: none; } }
    nav #closeMenu div {
      display: block;
      margin: auto;
      margin-top: 8px;
      background-color: black; }
    nav #closeMenu div:nth-child(1) {
      width: 3px;
      height: 35px; }
    nav #closeMenu div:not(:first-child) {
      width: 2px;
      height: 13px; }
    nav #closeMenu div:nth-child(2) {
      margin: -37px 0 0 20px;
      transform: rotate(45deg); }
    nav #closeMenu div:nth-child(3) {
      margin: -13px 0 0 29px;
      transform: rotate(-45deg); }

footer {
  margin: 50px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media only screen and (min-width: 500px) {
    footer {
      max-width: 450px;
      margin: 20px auto; } }
  footer p {
    font-size: 8pt;
    display: block;
    margin-top: auto; }
