#weights,
#buffet {
  width: 100vw;
  margin-bottom: -4px; }

#whiteBg {
  position: absolute;
  width: 80vw;
  height: auto;
  background-color: white;
  margin: -160px auto 0px;
  left: 0;
  right: 0;
  border-radius: 26px;
  text-align: center;
  padding: 20px 0px; }
  #whiteBg button {
    background-color: #009779;
    color: white;
    border: none;
    border-radius: 26px;
    padding: 20px;
    font-family: "Montserrat", sans-serif; }
  #whiteBg p {
    padding: 0 20px; }

body,
html {
  margin: 0 auto; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12pt; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 11pt; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt; }

#burger {
  position: fixed;
  top: 20px;
  right: 20px; }
  #burger div {
    background-color: black;
    width: 35px;
    height: 3px;
    margin: 6px 0px; }
  #burger #arrow div {
    position: absolute;
    left: -6px;
    right: 0;
    margin: auto;
    width: 10px;
    transform: rotate(45deg); }
  #burger #arrow div:nth-child(2) {
    transform: rotate(-45deg);
    left: 6px; }

#logo-slogan {
  position: relative;
  display: grid; }
  #logo-slogan #logo,
  #logo-slogan #slogan {
    grid-row: 1;
    width: 130px;
    margin: 70px auto 0; }
  #logo-slogan #slogan {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 10pt;
    grid-row: 2;
    margin: 0px auto 30px;
    text-align: center; }
