#weights,
#buffet {
  width: 100vw;
  margin-bottom: -4px; }

#navBackground {
  margin-top: 180px; }

#whiteBg {
  position: absolute;
  width: 80vw;
  height: auto;
  background-color: white;
  margin: -160px auto 0px;
  left: 0;
  right: 0;
  border-radius: 26px;
  text-align: center;
  padding: 20px 0px; }
  #whiteBg button {
    background-color: #009779;
    color: white;
    font-size: 4vw;
    border: none;
    border-radius: 26px;
    padding: 20px;
    font-family: "Montserrat", sans-serif; }
  #whiteBg p {
    padding: 0 20px; }

#loader-pie {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 60vw;
  height: 250px; }

#pieSection {
  margin: 70px auto; }
  #pieSection p {
    text-align: center; }
  #pieSection p {
    padding: 0 25vw; }
  #pieSection #outerRing,
  #pieSection #middleRing {
    opacity: 0;
    transition: opacity 2.5s; }

body,
html {
  margin: 0 auto; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12pt;
  text-align: center; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 11pt; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt; }

#index-header {
  transition: all 0.3s;
  background-color: white;
  width: 100%;
  height: 180px;
  position: fixed;
  z-index: 2;
  top: 0; }
  #index-header #burger {
    position: fixed;
    z-index: 3;
    top: 20px;
    right: 20px; }
    #index-header #burger div {
      background-color: black;
      width: 30px;
      height: 3px;
      margin: 5px 0px;
      border-radius: 26px; }
    #index-header #burger #arrow div {
      position: absolute;
      left: -6px;
      right: 0;
      margin: auto;
      width: 10px;
      transform: rotate(45deg); }
    #index-header #burger #arrow div:nth-child(2) {
      transform: rotate(-45deg);
      left: 6px; }
  #index-header #logo,
  #index-header #slogan {
    display: block;
    transition: all 0.3s;
    grid-row: 1;
    width: 130px;
    margin: 30px auto 0; }
  #index-header #slogan {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 10pt;
    grid-row: 2;
    margin-top: 0;
    text-align: center; }
