@import "breakpoints";
#aboutSection {
  margin-top: 200px;
  p {
    padding: 15px 50px;
    max-width: 450px;
    display: block;
    margin: 20px auto;
    @include phablet {
      margin: 40px auto;
    }
  }
  .contactBtn {
    display: block;
    margin: 0 auto 30px;
    padding: 20px 10px;
    @include phablet {
      font-size: 14pt;
    }
    @include miniDesktop {
      margin-bottom: 100px;
    }
  }
  #profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include miniDesktop {
      width: 650px;
      margin: auto;
    }

    img {
      display: block;
      margin-left: auto;
      @include phablet {
        width: 300px;
      }
      @include miniDesktop {
        width: 350px;
      }
      @include desktop {
        width: 400px;
      }
    }
    p {
      padding: 25px;
      max-width: 200px;
      display: block;
      margin: auto auto auto 0;
    }
  }
}
